*, :after, :before { box-sizing: border-box; }

body {
    background: url("obrazky/bg_codemas.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    font-family: 'Playfair Display', serif;
}

h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: white;
    font-size: 76px;
}

.prani {
    background-color: white;
}

img {
    width: 100%;
}

section {
    margin-bottom: 20px;
}

.osloveni, .podpis {
    padding: 10% 0;
    font-size: 30px;
    color:#9F1515;
    display: block;
    font-family: 'Dancing Script', cursive;
}

.podpis {
    text-align: right;
}

.prani-text {
    margin: 0 10%;
    text-align: justify;
}

.pristi-rok-text {
    margin: 0 10%;
    padding: 10% 0;
    text-align: justify;
}

.pristi-rok {
    color: white;
    background-color: #9F1515;
    padding-bottom: 10%;
}

.pristi-rok-text-nadpis {
    padding: 10% 0;
    font-size: 30px;
    display: block;
    font-family: 'Dancing Script', cursive;
}

.pristi-rok-todo {
    margin: 0 10%;
}

.pristi-rok-todo-polozka {
    padding: 5%;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    font-family: 'Dancing Script', cursive;
}

.galerie img {
    width: 100%;
    display: block;
}

@media screen and (min-width: 850px) {
    body {
        padding: 0 20%;
    }

    .prani {
        display: flex;
    }

    .prani img {
        max-width: 50%;
    }

    .prani-text {
        margin: 0 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .pristi-rok {
        display: flex;
        padding-bottom: 0;
    }

    .pristi-rok-text-nadpis {
        padding: 5% 0;
    }

    .pristi-rok-text {
        flex-basis: 45%;
        margin: 0 5%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .pristi-rok-todo {
        flex-basis: 50%;
        margin: 0 5%;
    }

    .galerie {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .galerie img {
        width: calc(100% / 3);
        
    }
}