*, :after, :before { box-sizing: border-box; }

body {
    background: url("obrazky/bg_codemas.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    font-family: 'Playfair Display', serif;
}

h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: white;
    font-size: 76px;
}

img {
    width: 100%;
}

section {
    margin-bottom: 20px;
}

.osloveni, .podpis {
    padding: 10% 0;
    font-size: 30px;
    color:#9F1515;
    display: block;
    font-family: 'Dancing Script', cursive;
}

.prani {
    background-color: white;
}

.podpis {
    text-align: right;
}

.prani-text {
    margin: 0 10%;
    text-align: justify;
}

.pristi-rok-text {
    margin: 10%;
    text-align: justify;
}

.pristi-rok {
    color: white;
    background-color: #9F1515;
    padding-bottom: 10%;
}

.pristi-rok-text-nadpis {
    padding: 10% 0;
    font-size: 30px;
    display: block;
    font-family: 'Dancing Script', cursive;
}

.pristi-rok-todo {
    margin: 0 10%;
}

.pristi-rok-todo-polozka {
    padding: 5%;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    font-family: 'Dancing Script', cursive;
}

.foto {
    position: relative;
    width: 100%;
    display: block;
    height: 100%;
}

.foto .popisek {
    margin: 10px 0 20px 0;
    color: white;
    font-weight: bold;
    font-size: 15px;
	text-align: center;
}

@media screen and (min-width: 950px) {
    body {
        padding: 0 20%;
    }

    .prani {
        display: flex;
    }

    .prani img {
        max-width: 50%;
    }

    .prani-text {
        margin: 0 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .pristi-rok {
        display: flex;
        padding-bottom: 0;
    }

    .pristi-rok-text-nadpis {
        padding: 5% 0;
    }

    .pristi-rok-text {
        flex-basis: 45%;
        margin: 0 5%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .pristi-rok-todo {
        flex-basis: 50%;
        margin: 0 5%;
    }

    .galerie {
        display: flex;
        flex-wrap: wrap;
    }

    .foto {
        width: 33.3333%;
        overflow: hidden;
        height: 200px;
    }

    .foto .popisek {
        position: absolute;
        width: 100%;
        bottom: 0;
        margin: 0;
        padding: 10px 15px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        font-size: 13px;
        transform: translateY(100%);
        transition: 0.3s ease-in-out;
    }

    .foto:hover img {
        transform: scale(1.15);
    }

    .foto:hover .popisek {
        transform: translateY(0);
    }
}