*, :after, :before { box-sizing: border-box; }

body {
    margin: 5% 25%;
    background: url("obrazky/bg_codemas.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    font-family: 'Playfair Display', serif;
}

h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: white;
    font-size: 76px;
}
